/* Google fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Buttons */
.btn-contact {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #0e0e0e;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
}

.btn-contact:hover {
  background-color: #4e4e4e;
}
