/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

.navbar .logo {
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  color: #0e0e0e;
}

.navbar ul {
  display: flex;
  list-style: none;

  gap: 2rem;
  margin-left: auto;
  margin-right: 3rem;
}

.navbar ul li a {
  text-decoration: none;
  color: #0e0e0e;
  padding-bottom: 0.5rem;
}

.navbar ul li a:hover {
  border-bottom: 2px solid #0e0e0e;
}

/* Home Section Styling */
.home-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 3rem auto;
  padding: 2rem 1rem;
}

.home-content {
  max-width: 600px;
}

.home-content h1 {
  font-size: 48px;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.home-content p {
  margin-bottom: 2rem;
  color: #4e4e4e;
}

.home-section img {
  height: 400px;
  width: 560px;
  object-fit: cover;
  border-radius: 40px;
}

/* Services section */
.services {
  text-align: center;
  padding: 3rem 0;
}

.services-section {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.service {
  width: 300px;
}

.services-section img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.service p {
  color: #4e4e4e;
  margin-top: 0.8rem;
}

/* Quote Section */
.quote-section {
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 10rem 0;
  display: flex;
}

.quote {
  margin: auto;
  width: 900px;
  font-style: italic;
  font-size: 2rem;
  text-transform: uppercase;
  color: #0e0e0e;
}

.quote h2 {
  line-height: 1.3;
}

.quote p {
  color: #5620ebc9;
  margin-top: 1rem;
}

/* Sign up section */
.sign-up-section {
  color: white;
  padding: 5rem 0;
  text-align: center;
}

.sign-up__container {
  background-color: #5620eb;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 3rem;
  text-align: left;
  border-radius: 20px;
}

/* Footer */
.footer {
  background-color: #0e0e0e;
  border-top: 5px solid #5620eb;
  color: white;
  padding: 1rem 0;
  text-align: center;
  margin-top: 2rem;
}
